<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>9ine | 메인 페이지</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <div class="container">
        <div class="info-teamname">대전교직원댄스동호회 9ine</div>
        <!-- 팀 소개 문구 추가 -->
        <p class="info-team-description">
            <strong>누구나 나인 ssss상관없이 춤을 출 수 있다</strong>라는 모토로<br>
            8년째 춤을 추고 있는 대전의 유일한 교직원 댄스팀
        </p>

        <!-- 팀 소개 & 가입 신청 버튼 -->
        <div class="button-container">
            <a href="{{ url_for('info') }}" class="team-button">팀 소개</a>
            <a href="https://forms.gle/fZEiUVbsmFS6bucY7" target="_blank" class="team-button">가입 신청</a>
        </div>


        <div class="grid">
            <section id="performance" class="section" onclick="location.href='{{ url_for('performance_videos') }}'">
                <h2 class="section-title">공연 영상</h2>
                <p>전체 영상은 회원 전용</p>
            </section>
            
            <section id="practice" class="section" onclick="location.href='{{ url_for('practice_videos') }}'">
                <h2 class="section-title">연습 영상</h2>
                <p>전체 영상은 회원 전용</p>
            </section>
            
            <section id="community" class="section" onclick="location.href='{{ url_for('board') }}'">
                <h2 class="section-title">커뮤니티</h2>
                <p>미니게시판</p>
            </section>
            
            <section id="contact" class="section" onclick="location.href='{{ url_for('contact') }}'">
                <h2 class="section-title">공연 섭외 요청</h2>
                <p>Contact Us</p>
            </section>
        </div>

        <!-- 유튜브 영상 추가 -->
        <div class="index-video-container">
            <iframe 
                width="560" height="315"
                src="https://www.youtube.com/embed/Hkk_9pbz8VY" 
                title="YouTube video player" 
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;"
                allowfullscreen>
            </iframe>
        </div>

        <footer>
            <p>&copy; 2025 대전교직원댄스동호회 9ine</p>
            <p>All rights reserved.</p>
        </footer>
    </div>
</body>
</html>
