<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>9ine | 팀 소개</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <div class="container">
        <h1 class="teamname">팀 소개</h1>
        <p class="team-description">
            9ine은 8년째 활동을 이어오고 있는 대전의 유일한 교직원 댄스팀입니다.<br>
            "누구나 나인 상관없이 춤을 출 수 있다"라는 모토 아래 다양한 공연을 진행하고 있습니다.
        </p>
        <p>
            정기 연습 일정 및 공연 활동에 대한 자세한 내용은 아래 문의를 통해 확인해주세요!
        </p>

        <footer>
            <p>&copy; 2025 대전교직원댄스동호회 9ine</p>
            <p>All rights reserved.</p>
        </footer>
    </div>
</body>
</html>
