<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>9ine | 공연 영상</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <div class="container">
        <h1 class="performance-videos-title">공연 영상</h1>
        <div class="button-container">
            <button class="home-btn" onclick="goHome()">메인으로</button>
            <button class="view-all-btn" onclick="requestAccess()">전체 영상 페이지(회원 전용)</button>
        </div>

        <!-- 오류 메시지 표시 -->  
        <p id="auth-error" class="error-message" style="display: none; color: red;"></p>
        

        <div class="playlist-container">

            <!-- 2024년 공연 -->
            <div class="playlist">
                <h2>📅 2024년 공연</h2>
                <div class="video-row">
                    <div class="video-container">
                        <div class="video-title">Intro리버 우아하게</div>
                        <iframe src="https://www.youtube.com/embed/pU7b1pv-fqs" allowfullscreen></iframe>
                    </div>
                    <div class="video-container">
                        <div class="video-title">아파트</div>
                        <iframe src="https://www.youtube.com/embed/E7-TbeuoF1s" allowfullscreen></iframe>
                    </div>
                </div>

            </div>

            <!-- 2023년 공연 -->
            <div class="playlist">
                <h2>📅 2023년 공연</h2>
                <div class="video-row">
                    <div class="video-container">
                        <div class="video-title">손웅정 감독 특강 식전 공연</div>
                        <iframe src="https://www.youtube.com/embed/8F7JjqvQNHY" allowfullscreen></iframe>
                    </div>
                    <div class="video-container">
                        <div class="video-title">lucky strike</div>
                        <iframe src="https://www.youtube.com/embed/hcncMvubVII" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <!-- 2022년 공연 -->
            <div class="playlist">
                <h2>📅 2022년 공연</h2>
                <div class="video-row">
                    <div class="video-container">
                        <div class="video-title">law & 새삥</div>
                        <iframe src="https://www.youtube.com/embed/R3sAs4oRm2o" allowfullscreen></iframe>
                    </div>
                    <div class="video-container">
                        <div class="video-title">rumor</div>
                        <iframe src="https://www.youtube.com/embed/FpOYSV1D350" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

        </div>
        
        <button class="home-btn" onclick="goHome()">메인으로</button>

        <footer>
            <p>&copy; 2025 대전교직원댄스동호회 9ine</p>
            <p>All rights reserved.</p>
        </footer>
    </div>
</body>
</html>
