<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>9ine | 회원 전용 공연 영상</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>  <!-- JS 파일 연결 -->
</head>
<body>
    <div class="container">
        <h1 class="performance-videos-mbship-title">회원 전용 공연 영상</h1>

        <div class="member-playlist-container">
            <div class="mb-perform-playlist">
                <h2>📅 2024년 공연</h2>
                <div class="member-video-list">
                    <div class="member-video-container">
                        <div class="mb-video-title">Intro리버 우아하게</div>
                        <iframe src="https://www.youtube.com/embed/pU7b1pv-fqs" allowfullscreen></iframe>
                    </div>
                    
                    <div class="member-video-container">
                        <div class="mb-video-title">프리키디키 슈퍼노바</div>
                        <iframe src="https://www.youtube.com/embed/XnjY9kA_Yoo" allowfullscreen></iframe>
                    </div>
                    
                    <div class="member-video-container">
                        <div class="mb-video-title">첫 만남은 계획대로 되지 않아</div>
                        <iframe src="https://www.youtube.com/embed/TPmkIFq9x6I" allowfullscreen></iframe>
                    </div>

                    <div class="member-video-container">
                        <div class="mb-video-title">드라마</div>
                        <iframe src="https://www.youtube.com/embed/325hDdR4vUY" allowfullscreen></iframe>
                    </div>

                    <div class="member-video-container">
                        <div class="mb-video-title">미야오</div>
                        <iframe src="https://www.youtube.com/embed/Dl2UI8x3PuY" allowfullscreen></iframe>
                    </div>

                    <div class="member-video-container">
                        <div class="mb-video-title">매니악</div>
                        <iframe src="https://www.youtube.com/embed/eXIssT7Lous" allowfullscreen></iframe>
                    </div>

                    <div class="member-video-container">
                        <div class="mb-video-title">ABCD</div>
                        <iframe src="https://www.youtube.com/embed/RQ0tNcwB6k0" allowfullscreen></iframe>
                    </div>

                    <div class="member-video-container">
                        <div class="mb-video-title">이글루</div>
                        <iframe src="https://www.youtube.com/embed/5tA1Q1KRlIg" allowfullscreen></iframe>
                    </div>

                    <div class="member-video-container">
                        <div class="mb-video-title">이다슬</div>
                        <iframe src="https://www.youtube.com/embed/qvsHDbc72r0" allowfullscreen></iframe>
                    </div>

                    <div class="member-video-container">
                        <div class="mb-video-title">위플래시</div>
                        <iframe src="https://www.youtube.com/embed/HhaBv8x6BDA" allowfullscreen></iframe>
                    </div>

                    <div class="member-video-container">
                        <div class="mb-video-title">아마겟돈</div>
                        <iframe src="https://www.youtube.com/embed/SjaLYG7ejdI" allowfullscreen></iframe>
                    </div>

                    <div class="member-video-container">
                        <div class="mb-video-title">How Sweet & Supernatural</div>
                        <iframe src="https://www.youtube.com/embed/nMIzlwWmtsQ" allowfullscreen></iframe>
                    </div>

                    <div class="member-video-container">
                        <div class="mb-video-title">Bloodline Banji</div>
                        <iframe src="https://www.youtube.com/embed/y4anHeXiNyg" allowfullscreen></iframe>
                    </div>

                    <div class="member-video-container">
                        <div class="mb-video-title">Supersonic Sheesh</div>
                        <iframe src="https://www.youtube.com/embed/mKbjVVPlr60" allowfullscreen></iframe>
                    </div>

                    <div class="member-video-container">
                        <div class="mb-video-title">Silver tooth 백전무패</div>
                        <iframe src="https://www.youtube.com/embed/gaVYGA4EGsw" allowfullscreen></iframe>
                    </div>

                    <div class="member-video-container">
                        <div class="mb-video-title">아파트</div>
                        <iframe src="https://www.youtube.com/embed/E7-TbeuoF1s" allowfullscreen></iframe>
                    </div>

                    <div class="member-video-container">
                        <div class="mb-video-title">실버투스 백전무패 후방샷</div>
                        <iframe src="https://www.youtube.com/embed/Qy1eroUGIC8" allowfullscreen></iframe>
                    </div>

                    <div class="member-video-container">
                        <div class="mb-video-title">빅버스트 세로 버전</div>
                        <iframe src="https://www.youtube.com/embed/W9GvgJXEQ_M" allowfullscreen></iframe>
                    </div>

                    <div class="member-video-container">
                        <div class="mb-video-title">하우스윗 세로 버전</div>
                        <iframe src="https://www.youtube.com/embed/t3mxiaJoSac" allowfullscreen></iframe>
                    </div>

                    <div class="member-video-container">
                        <div class="mb-video-title">마블 룰렛 추첨 실황</div>
                        <iframe src="https://www.youtube.com/embed/yXMAqrvJHvc" allowfullscreen></iframe>
                    </div>

                </div>
            </div>
        </div>

        
        <button class="home-btn" onclick="location.href='/'">🏠 메인으로</button>

        <footer>
            <p>&copy; 2025 대전교직원댄스동호회 9ine</p>
            <p>All rights reserved.</p>
        </footer>
    </div>
</body>
</html>
